label {
  color: white;
  font-size: 15pt;
  margin-bottom: 10px;
  font-style: italic;
}

.form-section {
  padding: 20px;
  margin: 30px;
  background-color: rgba(12, 17, 83, 0.5);
}

.form-submit-btn {
  background-color: #519aa7;
  color: white;
  font-weight: bolder;
  transition: 0.2s ease;
}

.form-submit-btn:hover {
  background-color: white;
  color: #519aa7;
}

.validation-message {
  font-weight: bolder;
  color: yellow;
  font-style: italic;
}
